body{
    font-family: Arial, Helvetica, sans-serif; 
}

.container-fluid{
    max-width: 1000px;
}

.col-lg-8, .col-lg-4, .col-lg-7, .col-lg-1, .col-lg-4, .col-lg-12{
    border: 1px solid black;
}




.col-lg-12{
    width: 100%;
}

.col-lg-4   {
    flex: 1;
}

.imagem{
    width: 500px;
    height: 300px;
    max-width: 100%;
}

.titles{
    font-size: 20px; 
    font-weight: 800;
    color: #5B9BD5;
}

.nav{
    padding-top: 60px;
    font-size: larger;
}

nav a {
    position: relative; left: 7px;
    text-decoration: none;
}

#title{
    font-size: 20px;
    font-weight: 800;
    color: #5B9BD5;
}

.boxes{
    border-color: #8596b0;
    border-width: 1px;
}

.boxquestion{
    border-color: #8596b0;
    height: 100px;
    border-width: 1px;
}

.sendform{
    background-color: #5B9BD5;
    color: white;
    width: 100px;
    border: none;
}

.bong{
    font-weight: bold;
    font-size: 22px;
}

.flwius{
    font-weight: bold;
    font-size: 15px;
}

#bestdestine{
    font-size: 30px; 
    font-weight: 800; 
    color: #5B9BD5;
}

.texto{
    font-size: 20px;
    font-weight: 500;
}
