.container-fluid{
    max-width: 1000px;
}

.logo{
    width: 330px;
}

.nav{
    width: 670px;
}

.brasilimg{
    width: 670px;
}

.empty{
    width: 20px;
}

.form{
    width: 310px;
}

.titles{
    font-size: 20px; 
    font-weight: 800; 
    color: #5B9BD5;
}